<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold tracking-widest fs-4 text-white ms-2 animate-pulse" routerLink="">KERALAR</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">CONTACT</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="minister" routerLinkActive="active">MINISTER</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>